<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
      id="com.zengularity.acraplugin"
      version="1.0">
    <name>ACRA</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/index.js" name="JSError">
        <clobbers target="jserror" />
    </js-module>
    <js-module src="www/stacktrace.js" name="printStackTrace">
        <clobbers target="printStackTrace" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/AcraPlugin.java" target-dir="src/com/zengularity/acraplugin" />
        <source-file src="src/android/acra-4.5.0.jar" target-dir="libs" />
    </platform>
    <platform name="ios">
        <!-- empty -->
    </platform>
</plugin>
